.grandMenu{
  background-image: linear-gradient(#313233, #555656);
  height: 100vh;
  }
  .grandMenu:below{
    background-image: linear-gradient(#313233, #555656);
  }

.cheeseburger-menu-outer{
  height: 91vh;
  min-width: 24.9vw;
}

.textinsidepop{
  font-size: 2.5vh;
  text-align: left;
  line-height: normal;
  margin-top: 2vh;
}

.textinsidepop p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 0;
}

.menu {
  height: 100%;
}
.textinsidepop {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

@media (max-width: 420px) {
  .hamburguer {
    height: 100vh
  }

  .cheeseburger-menu-outer {
    height: 90%;
    min-width: 100vw;
  }

  .cheeseburger-menu-inner {
    width: 100vw;
  }
  .grandMenu {
    height: 100%;
  }
}
