.grandMenu{
  background-image: linear-gradient(#313233, #555656);
  height: 100vh;
  }
  .grandMenu:below{
    background-image: linear-gradient(#313233, #555656);
  }

.cheeseburger-menu-outer{
  height: 91vh;
  min-width: 24.9vw;
}


.cheeseburger-menu-inner{
}

p, h4 {
  padding:10px;
}
  .menu--main {
    bottom: 0;
    height: 70px;
    text-align: left;
    position: absolute;
    text-decoration: none;
    padding: 1rem 0 0.5rem;
    margin: 0 1.5rem;
    text-transform: uppercase;
    outline:none;

    li {
      display: inline-block;
      position: relative;
      cursor: pointer;
      padding: 20px 20px;
      margin-right: -4px;  // get rid of spacing between list items
      transition: all 0.2s;
      width:89%;

      &:hover {
      }
      &:hover .sub-menu {
        max-height: 400px;
        visibility: visible;
        bottom: 100%;  // align to top of parent element
        transition: all 0.2s linear;
        background-color: none;
        width:280px;
      }
      &::after {
        transform: translateX(-50%) scaleX(1);
        outline:none;
      }
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) scaleX(0);
        transform-origin: 50% 50%;
        width: 100%;
        height: 1px;
        background-color:rgba(29,185,84,0.8);
        transition: transform 250ms;
        outline:none;
      }
    }
    .sub-menu {
      display: block;
      visibility: hidden;
      position: absolute;
      left: 0;
      box-shadow: none;
      max-height: 0;
      width: 100px;

      overflow: hidden;

      li {
        display: block;
        background:none;
        background-color: none;
      }
    }
  }
