
.tag-cloud {
  flex: 1;
  width: 100%;
  margin: auto;
}

.tag-cloud > div {
  transition: 1.4s;
}

.cloud-outer {
  align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
  height: 70vh;
  max-width: 100%;
  max-height: 100%;
  width: 70vw;
  margin: auto;
}

.cloud-inner {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 90%;
  max-height: 80%;
  min-height: 50vh;
  padding-top: 1rem;
  margin: auto;
  // justify-content: center;
}

.spotifycontainer{
  text-align: center;
  align-items: center;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: 100vh;
}
.spotify-player{
  opacity: 0.77;
  width: 70vw;
  height: 70vh;
}

#refreshbtn{
  color: white;
  background-color: green;
  border-radius: 10px;
  border-style: none;
  padding: 8px;
  cursor: pointer;
  font-size: 10px;
  animation: fade 6s;
  animation-fill-mode: forwards;
  height: 28px;
  width: 100px;
}
          
video {
  display: block;
}

video.signed-in {
  display: none;
}

.playlist-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin: auto;
  padding: 10px;
}

.type-select {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15rem;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.list-options {
  width: 6rem;
  height: 1.6rem;
  border-radius: 10px;
}

.select-distance {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.distance-bar {
  width: 80%;
}

#range-input {
  width: 80%;
}

@media (max-width: 420px) {
  .spotifycontainer {
    height: 88vh;
    width: 98vw;
  }
  
  .select-distance {
    width: 100%
  }

  .distance-bar {
    width: 100%
  }

  #range-input {
    width: 100%
  }

  .cloud-outer {
    width: 90vw;
    height: 60vh;
  }

  .cloud-inner {
    width: 90vw;
    height: 50vh;
  }

  .spotify-player {
    width: 94vw;
    height: 65vh;
  }

  .location-notice {
    margin-top: 2rem;
  }

}
          